<h3 class="mt-2 text-success text-center">List of Book</h3>
<table class="table text-white mt-3">
  <thead>
    <tr class="bg-dark">
      <th scope="col-2">#</th>
      <th scope="col-2">Title</th>
      <th scope="col-2">DateOfPublication</th>
      <th scope="col-2">Cover</th>
      <th scope="col-2">Description</th>
      <th scope="col-2">Authors</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of booksList let i = index" class="text-dark">
      <td>{{i+1}}</td>
      <td>{{book.title}}</td>
      <td>{{book.dateOfPublication}}</td>
      <td><img [src]="book.cover"></td>
      <td>{{book.description}}</td>
      <!-- <app-TableRow *ngFor="let book of booksList" [book]="book"></app-TableRow> -->
    </tr>
  </tbody>
</table>
